
.cls-2 {
  fill: #2d83bf;
}

.cls-3 {
  fill: none;
  stroke: #90cbef;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0;
}

.cls-4 {
  fill: #90cbef;
}

.cls-5 {
  fill: #246999;
}

.cls-6 {
  fill: #75abd7;
}

.cls-7 {
  fill: #fff;
}

.cls-8 {
  fill: #316799;
}

.cls-9 {
  fill: #3f5666;
}