.page-footer {
  padding: 72px 0;
  box-sizing: border-box;
  background-color: #316799;
  text-align: center;
  overflow: hidden;
}

.page-footer-img {
  width: 100%;
  max-height: 400;
  position: absolute;
  object-fit: cover;
  object-position: top;
  left: 0;
  top: 0;
}

.footer-p {
  margin: 0px auto;
  padding: 0px;
  color: rgba(255, 255, 255, 0.54);
  max-width: 356px;
}

.footer-p a {
  color: rgba(255, 255, 255, 0.87);
  margin: 0px 3px;
}

.footer-ps {
  text-align: center;
  margin: 25px 15px 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.54);
  line-height: 25px;
  font-size: 12px;
}

.footer-ps a {
  margin: 0px 3px;
}

.footer-ps a img {
  vertical-align: middle;
}

@media screen and (max-width: 32em) {
  .page-footer {
    left: 0;
  }
  .page-footer-img {
    bottom: 0;
    top: unset;
  }
}